* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pokemon-container {
  height: 100vh;
  background-color: #292f3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokemon-card {
  margin: 10px;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 20vh;
  padding: 10px;
}
.pokemon-card img {
  object-fit: contain;
  height: 200px;
  width: 120px;
}
.pokemon-container h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 2.5rem;
}

h1 {
  background-color: #292f3b;
  color: #fff;
}
.btn-pokemons {
  margin-top: 20px;
}
.pokemon-container .btn-pokemons button {
  color: #fff;
  background-color: indigo;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  font-size: 1rem;
  text-align: center;
  border-radius: 15px;
  width: 110px;
  height: 30px;
}
.pokemon-container p {
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
}
