* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #292f3b;
  color: #fff;
}
h1 {
  text-align: center;
}
.pokemons-container {
  background-color: #292f3b;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  margin: 8px;
  height: 140px;
  width: 140px;
}

.pokemon-card img {
  object-fit: cover;
  background-color: #fff;
}
