* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f1f1f1;
  border-radius: 20px;
  height: 500px;
  width: 400px;
}
.text-box {
  margin-top: 40px;
  display: flex;
  height: 50px;
  width: 200px;
  flex-direction: column;
}
.text-box input {
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  height: 30px;
}

.btn {
  background-color: indigo;
  color: #fff;
  width: 200px;
  height: 30px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 30px;
}

.navbar-container {
  width: 100%;
  height: 10vh;
  align-items: center;
  font-size: 1.5rem;
  display: flex;
  background-color: #292f3b;
  color: #fff;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
}

.user-details {
  display: flex;
  margin-left: 10px;
}

.user-details p {
  margin-right: 20px;
}
