* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f1f1f1;
  border-radius: 20px;
  height: 500px;
  width: 400px;
}
.text-box {
  display: flex;
  height: 50px;
  width: 200px;
  flex-direction: column;
}
.text-box input {
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  height: 30px;
}
